body {
  background-color: #121212;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.2rem;

  a,
  a:link,
  a:active a:visited {
    text-decoration: none;
    font-weight: 400;
    transition: color 200ms ease-in-out;
    color: #999;
  }
  a:hover {
    color: #fff;
  }
}

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
#menu-button {
  width: 48px;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 3;
}
#menu-button .fa {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
  color: #fff;
  text-shadow: 0 0 1px #000;
}
#menu-button .fa-times {
  opacity: 0;
}
// #menu-check:checked ~ #wrapper #page {
menu-button[aria-checked="true"] ~ #wrapper #page {
  transform: translateX(280px);
  transition: transform 0.3s cubic-bezier(0.17, 0.67, 0.68, 1.13);
}
#menu-button svg {
  transition: transform 0.6s cubic-bezier(0.17, 0.67, 0.68, 1.13);
}
#menu-check:checked ~ #menu-button svg {
// menu-button[aria-checked="true"] ~ #menu-button svg {
  transform: rotate(180deg);
}
// #menu-check:checked ~ #wrapper header {
menu-button[aria-checked="true"] ~ #wrapper header {
  border-top-left-radius: 5px;
}

// #menu-check:checked ~ #menu-button .fa-bars {
menu-button[aria-checked="true"] ~ #menu-button .fa-bars {
  opacity: 0;
}
// #menu-check:checked ~ #menu-button .fa-times {
menu-button[aria-checked="true"] ~ #menu-button .fa-times {
  opacity: 1;
}
#nav {
  width: 280px;
  height: 48px;
  background-color: #5334db;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-right: 20px;
  color: #fff;

  figure {
    margin: 0;
    max-width: 100%;

    img {
      object-fit: contain;
      width: 100%;
    }

    h3 {
      display: flex;
      justify-content: center;
    }
  }
}
#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#nav ul li {
  padding: 5px 10px;
  min-height: 30px;
  line-height: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
#nav ul li.profile {
  text-align: right;
}
li.profile img {
  float: right;
  border-radius: 50%;
  margin-left: 10px;
}
#page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease-in-out;
}
header {
  display: flex;
  justify-content: center;
  height: 48px;
  line-height: 48px;
  background-color: #5334db;
  color: white;
  text-align: center;
  transition: border-top-left-radius 0.3s ease-in-out;
}
#content {
  display: flex;
  flex-direction: column;
  height: 100%;
  top: 40px;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
}
.card {
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.15);
}
